Package: com.in8.yourviewing
Name: YourViewing
Depends: mobilesubstrate, applist, firmware, preferenceloader
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: in8
Author: in8
Section: Tweaks
Version: 0.0.1-32+debug
Installed-Size: 720
